
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> {%block title%} {%endblock%} </title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="media/images/favicon.ico">

    <!-- CSS
	============================================ -->
    <script src="https://kit.fontawesome.com/859be4586c.js" crossorigin="anonymous"></script>
    <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
    <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static' , filename =  'css/style.min.css')   }}" /> -->
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href = "{{ url_for('static' , filename =  'css/vendor/bootstrap.min.css')   }}">


    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{{ url_for('static' , filename =  'css/style.css') }}">
    {%block head%}
    {%endblock%}
</head>

<body>

    <!-- header area start -->
    
    <header>
        <nav class="navbar navbar-expand navbar-light sticky-top bg-light">
            <a href="/" class="logo">
                <img src="{{url_for('static', filename = 'hstu_logo_.png')}}" alt="">
            </a>
            <a class="navbar-brand" href="#">HSTU Social</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li> -->
                <!-- <li class="nav-item">
                <a class="nav-link" href="#">Messages</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/stat">Statistics</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li> -->
                <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                </li> -->
                
            </ul>
            <form class="form-inline my-2 my-lg-0 ">
                <input class="form-control mr-sm-2" type="search" placeholder="Search by ID or Email" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            </div>
        </nav>
    </header>
  
    
    <!-- ============================================ -->
    {%block body%}
    {%endblock%}



    {%block script%}
    {%endblock%}
        <!-- Modernizer JS -->
        <!-- <script type = 'text/javascript' src="{{ url_for('static' , filename =  'js/vendor/modernizr-3.6.0.min.js' )  }}"></script> -->
        <!-- jQuery JS -->
        <script type = 'text/javascript' src="{{ url_for('static' , filename =  'js/vendor/jquery-3.3.1.min.js' )  }}"></script>
        <!-- Popper JS -->
        <!-- <script type = 'text/javascript'  src="{{ url_for('static' , filename =  'js/vendor/popper.min.js' )  }}"></script> -->
        <!-- Bootstrap JS -->
        <script  type = 'text/javascript' src="{{ url_for('static' , filename =  'js/vendor/bootstrap.min.js' )  }}"></script>
        <!-- Slick Slider JS -->
        <!-- <script  type = 'text/javascript' src="{{ url_for('static' , filename =  'js/plugins/slick.min.js' )  }}"></script> -->
        <!-- nice select JS -->
        <!-- <script  type = 'text/javascript' src="{{ url_for('static' , filename =  'js/plugins/nice-select.min.js' )  }}"></script> -->
        <!-- audio video player JS -->
        <!-- <script type = 'text/javascript'  src="{{ url_for('static' , filename =  'js/plugins/plyr.min.js' )  }}"></script> -->
        <!-- perfect scrollbar js -->
        <!-- <script  type = 'text/javascript' src="{{ url_for('static' , filename =  'js/plugins/perfect-scrollbar.min.js' )  }}"></script> -->
        <!-- light gallery js -->
        <!-- <script  type = 'text/javascript' src="{{ url_for('static' , filename =  'js/plugins/lightgallery-all.min.js' )  }}"></script> -->
        <!-- image loaded js -->
        <!-- <script  type = 'text/javascript' src="{{ url_for('static' , filename =  'js/plugins/imagesloaded.pkgd.min.js' )  }}"></script> -->
        <!-- isotope filter js -->
        <!-- <script  type = 'text/javascript' src="{{ url_for('static' , filename =  'js/plugins/isotope.pkgd.min.js' )  }}"></script> -->
        <!-- Main JS -->
        <script  type = 'text/javascript' src="{{ url_for('static' , filename =  'js/main.js' )  }}"></script>
    
</body>
</html>