{% extends "base.html" %}

    {%block head%}
    <link rel="stylesheet" href="{{ url_for('static' , filename =  'css/form.css') }}">
    {%endblock%}

    {% block body %} 
    <div class="container my-5">

        <div class="signup-inner text-center">
            <!-- <h1>hello</h1> -->
            
        


        

            <h3 class="title">Edit Profile</h3>


            <form class="signup-inner--form" enctype="multipart/form-data" method="POST" action="/edit_profile/{{sid}}">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for category, message in messages %}
                        
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>

                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <div class="row">
                    
                    <div class="col-md-6">
                        <input type="text" class="single-field" placeholder="Name" name = 'name' required>
                    </div>
                   
                    
                    <div class="col-md-6">
                        <input type="number" class="single-field" placeholder="Phone Number" name = 'phone_no' required>
                    </div>

                    <div class="col-12">
                        <input type="text" class="single-field" placeholder="Bio" name = 'bio' required>
                    </div>

                    <div class="col-md-6">
                        <select class="nice-select" name="gender">
                            <option value="">Gender</option>
                            <option value="1">Male</option>
                            <option value="0">Female</option>
                            <option value="2">Other</option>
                          
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select class="nice-select" name="blood_group">
                            <option value="">Blood Group</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select class="nice-select" name="department" required>
                            <option value="">Department</option>
                            <option value="CSE">CSE</option>
                            <option value="EEE">EEE</option>
                            <option value="ECE">ECE</option>
                            <option value="Fisheries">Fisheries</option>
                            <option value="FIB">FIB</option>
                            <option value="AIS">AIS</option>
                            <option value="Management">Management</option>
                            <option value="Physics">Physics</option>
                            <option value="Chemistry">Chemistry</option>
                            <option value="Math">Math</option>
                            <option value="English">English</option>
                            <option value="Sociology">Sociology</option>
                            <option value="Development Studies">Development Studies</option>
                            <option value="Agriculture">Agriculture</option>
                            <option value="DVM">DVM</option>
                            <option value="Architecture">Architecture</option>
                            <option value="Civil Engineering">Civil Engineering</option>
                            <option value="Mechanical Engineering">Mechanical Engineering</option>
                            <option value="FPE">FPE</option>
                            <option value="AIE">AIE</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select class="nice-select" name="faculty" required>
                            <option value="">Faculty</option>
                            <option value="CSE">CSE</option>
                            <option value="Fisheries">Fisheries</option>
                            <option value="Agriculture">Agriculture</option>
                            <option value="DVM">DVM</option>
                            <option value="Business Studies">Business Studies</option>
                            <option value="Science">Science</option>
                            <option value="Engineering">Engineering</option>
                        </select>
                    </div>
                    
                    <div class="col-12">
                        <input type="file" class="single-field" placeholder="Profile Picture" name = 'photo' >
                    </div>
                    
                    <div class="col-12">
                        <input class = 'btn btn-success' type="submit" value = "Create Account" class = "submit-btn">

                    </div>

                   

                </div>

            </form>
        </div>
        <!--  -->

        <!--  -->
    </div>
    {% endblock %}