
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>HSTU Social</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">

    <!-- CSS
	============================================ -->
    <!-- google fonts -->
    <script src="https://kit.fontawesome.com/859be4586c.js" crossorigin="anonymous"></script>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static' , filename =  'css/style.min.css')   }}" />
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href = "{{ url_for('static' , filename =  'css/vendor/bootstrap.min.css')   }}">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{{ url_for('static' , filename =  'css/vendor/bicon.min.css')  }}">
    <!-- Flat Icon CSS -->
    <link rel="stylesheet" href="{{ url_for('static' , filename =  'css/vendor/flaticon.css')  }}">
    <!-- audio & video player CSS -->
    <link rel="stylesheet" href="{{ url_for('static' , filename =  'css/plugins/plyr.css')   }}">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="{{ url_for('static' , filename =  'css/plugins/slick.min.css')   }}">
    <!-- nice-select CSS -->
    <link rel="stylesheet" href="{{ url_for('static' , filename =  'css/plugins/nice-select.css')  }}">
    <!-- perfect scrollbar css -->
    <link rel="stylesheet" href="{{ url_for('static' , filename =  'css/plugins/perfect-scrollbar.css' )  }}">
    <!-- light gallery css -->
    <link rel="stylesheet" href="{{ url_for('static' , filename =  'css/plugins/lightgallery.min.css' ) }}">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{{ url_for('static' , filename =  'css/style.css') }}">

</head>

<body class="bg-transparent">
<!-- <img src="/media/images/sports/-timeline.jpg" alt=""> -->
    <main>
        <div class="main-wrapper pb-0 mb-0">
            <div class="timeline-wrapper">
                


                <div class="timeline-page-wrapper">
                    <div class="container-fluid p-0">


                        <!--! ROW 1 -->
                        <div class="row no-gutters align-items-center">

                            <!--! COL 1 -->
                            <div class="col-lg-6 order-2 order-lg-1">
                                <div class="timeline-bg-content bg-img" data-bg="/media/images/sports/">
                                    <h3 class="timeline-bg-title">Lets see whats happening to you and your world. Welcome in Adda.</h3>
                                </div>
                            </div>

                            <!--! COL 2 -->
                            <div class="col-lg-6 order-1 order-lg-2 d-flex align-items-center justify-content-center">
                                <div class="signup-form-wrapper">
                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                                {% if messages %}
                                                    <ul class=flashes>
                                                    {% for category, message in messages %}
                                                    
                                                    <div class="alert alert-danger" role="alert">
                                                        {{ message }}
                                                    </div>

                                                    {% endfor %}
                                                    </ul>
                                                {% endif %}
                                    {% endwith %}
                                    <!-- <h1 class="create-acc text-center">Create An Account</h1> -->
                                    <div class="signup-inner text-center">
                                        <h3 class="title">Create a Lost and Found Post</h3>
                                        
                                        <form class="signup-inner--form" method="POST" action="/create_lost_n_found">
                                            <div class="row">

                                                <div class="col-12">
                                                    <input type="text" class="single-field" placeholder="Place" name = 'place' required>
                                                </div>

                                                <div class="col-12">
                                                    <input type="text" class="single-field" placeholder="Item" name = 'item' required>
                                                </div>

                                                <div class="col-md-6">
                                                    <select class="nice-select" name="group" required>
                                                        <option value="">Blood Group</option>
                                                        <option value="A+">A+</option>
                                                        <option value="A-">A-</option>
                                                        <option value="B+">B+</option>
                                                        <option value="B-">B-</option>
                                                        <option value="O+">O+</option>
                                                        <option value="AB+">AB+</option>
                                                        <option value="AB-">AB-</option>
                                                        
                                                    </select>
                                                </div>
                                                
                                                <div class="col-md-12">
                                                    <input type="datetime-local" class="single-field" placeholder="Date" name = 'time' required>
                                                </div>

                                                <!-- <div class="col-md-6">
                                                    <input type="time" class="single-field" placeholder="Date" name = 'time' required>
                                                </div> -->

                                                
                                                <div class="col-12">
                                                    <input type="text" class="single-field" placeholder="Details" name = 'details' required>
                                                </div>
                                                <div class="col-12">
                                                    <input type="submit" value = "Post" class = "submit-btn">

                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- JS
============================================ -->

     <!-- Modernizer JS -->
     <script type = 'text/javascript' src="{{ url_for('static' , filename =  'js/vendor/modernizr-3.6.0.min.js' )  }}"></script>
     <!-- jQuery JS -->
     <script type = 'text/javascript' src="{{ url_for('static' , filename =  'js/vendor/jquery-3.3.1.min.js' )  }}"></script>
     <!-- Popper JS -->
     <script type = 'text/javascript'  src="{{ url_for('static' , filename =  'js/vendor/popper.min.js' )  }}"></script>
     <!-- Bootstrap JS -->
     <script  type = 'text/javascript' src="{{ url_for('static' , filename =  'js/vendor/bootstrap.min.js' )  }}"></script>
     <!-- Slick Slider JS -->
     <script  type = 'text/javascript' src="{{ url_for('static' , filename =  'js/plugins/slick.min.js' )  }}"></script>
     <!-- nice select JS -->
     <script  type = 'text/javascript' src="{{ url_for('static' , filename =  'js/plugins/nice-select.min.js' )  }}"></script>
     <!-- audio video player JS -->
     <script type = 'text/javascript'  src="{{ url_for('static' , filename =  'js/plugins/plyr.min.js' )  }}"></script>
     <!-- perfect scrollbar js -->
     <!-- <script  type = 'text/javascript' src="{{ url_for('static' , filename =  'js/plugins/perfect-scrollbar.min.js' )  }}"></script> -->
     <!-- light gallery js -->
     <script  type = 'text/javascript' src="{{ url_for('static' , filename =  'js/plugins/lightgallery-all.min.js' )  }}"></script>
     <!-- image loaded js -->
     <script  type = 'text/javascript' src="{{ url_for('static' , filename =  'js/plugins/imagesloaded.pkgd.min.js' )  }}"></script>
     <!-- isotope filter js -->
     <script  type = 'text/javascript' src="{{ url_for('static' , filename =  'js/plugins/isotope.pkgd.min.js' )  }}"></script>
     <!-- Main JS -->
     <script  type = 'text/javascript' src="{{ url_for('static' , filename =  'js/main.js' )  }}"></script>

</body>

</html>